################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pi24-rkoncevsk-pkordic-kmarcetic-master GOTOVO/Software/.gitignore
